{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="h4 mb-4 text-center">Créer un compte</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="mb-3">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, { attr: {class: 'form-control'} }) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, { attr: {class: 'form-control'} }) }}
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Valider</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
